.-o-logo
  &__heading
    &::after
        content: "\a écrit, agence & active le verbe \a Performances artistiques | Livres uniques | Recueils poétiques | Méditations publiques"
        font-size: 14px
        white-space: pre
        width: 100%